{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Services </h1>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
            <h4>SEO</h4>
            <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sed inventore ducimus!</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
            <h4>Web Design</h4>
            <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sed inventore ducimus!</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
            <h4>Web Devlopement</h4>
            <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sed inventore ducimus!</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-android fa-2x mb-3 i-color"></i>
            <h4>Android</h4>
            <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sed inventore ducimus!</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-brands fa-apple fa-2x mb-3 i-color"></i>
            <h4>iOS</h4>
            <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sed inventore ducimus!</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-ad fa-2x mb-3 i-color"></i>
            <h4>Advertising</h4>
            <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sed inventore ducimus!</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil fa-2x mb-3 i-color"></i>
            <h4>Logo Design</h4>
            <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sed inventore ducimus!</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
            <h4>Hosting</h4>
            <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sed inventore ducimus!</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-headset fa-2x mb-3 i-color"></i>
            <h4>Support</h4>
            <p class="ss-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sed inventore ducimus!</p>
        </div>
    </div>

</div>
{% endblock content %}