/* font */
.st-font {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
}

html,
body {
  height: 100%;
}

.container-fluid {
  min-height: 100%;
}

/* Services Icon Color */
.i-color {
  color: chartreuse;
}

/* Services Subtitle color */
.ss-color {
  color: rgb(164, 161, 161);
}

a.nav-link{
  color: azure;
}

a.nav-link:hover{
  color: rgb(12, 12, 12);
  background-color: yellowgreen;
}
a.nav-link.active{
  color: rgb(9, 11, 11);
  background-color: yellow;
  font-weight: bold;
}
